# Ignore
.DS_Store
.env
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
custom/*
!custom/example.yaml
!custom/cbc_settings.sample
cbc.yml
cbc_master.yml
.history
.codex
.claude
site/
.cache/
.venv/
